@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0 ;
   box-sizing :border-box ;
   scroll-behavior: smooth;

}
header {
    background-color: rgba(227, 230, 238, 0.986);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 130px;
}
.logo{
    text-decoration: none;
    color: rgb(10, 10, 75);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.9em;

}
.navigation a{
    color: rgb(10, 10, 75);
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 450;
    padding-left: 80px;
}
.navigation a:hover{
    color:rgb(102, 7, 97);
}
section{
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/pic2.png) no-repeat;
    background-size: cover;
    background-position-x: 100%;
    background-position-y: 99;
    background-attachment: fixed;

}
.main h2 {
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    
    align-items: center;
}
.main h2 span.name {
    color: #fff;
    font-size: 1.3em;
    font-weight: 400;
    margin-left: -74px;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #1979ee;
    font-size: 2em;
    font-weight: 400;
    margin-left: -80px;;
    }

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 38px;
    margin-left: -10.8%;    
}

.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top :10px;
    margin-left: -50px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #3a6cf4;
    transform: scale(1.1); 
    /*scale : when we click on the buttom it zoomes *1 its size */
}

.social-icons {
    color: #fff;
    font-size: 2em;
    margin-top:40px;
    padding : 5px 10px;
    margin-left: 1px;
}
.social-icons a{
    color: #fff;
    padding: 0 10px;
}
.projects {
    background-color: #0a3c6e;
}
.projects .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 20px;
    color: #658eff;
    font-size: 3em;
    font-weight: 500;
   
}
.projects .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    
}

.project-card {
    background-color: #fff;
    border: 3px solid #fff;
    height: 40%;
    width: 80%;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 60px;
    margin: 35px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.8;/* when i click the transperncy of image will decrease*/
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #601cfc;
}
.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 30px;
}

.content {
    display: flex;
    
    flex-direction: row;
    flex-wrap: nwrap;
}

.card {
    background-color: #fff;
    width: 18.5em;
    flex-basis: 18.5em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    transition: 0.7s ease;
    margin-left: 99px;
    
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
    
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.contact .icon{
    font-size: 3.5em;
}
.contact .info a {
    text-decoration: none;
}/* to remove the underline*/
.contact .info h3 {
    color: #000;
    text-decoration: none;
}

.contact .info p {
    font-size: 0.9em;
    text-decoration: none;
    
}

.footer {
    background-color: #0a3c6e;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: flex-end;
}
    


.footer .social-icons a{
    font-size: 1.3em;
    padding: 1 12px 0 0;
}

@media (max-width: 1023px) {
    /* CSS styles to apply when screen width is less than 1023px */
    img{
        width: 100%;
        height: 100%;
        max-width: 50%;
    }
}
@media only screen and (max-width: 900px) {
    /* Change the background image size */
    .main {
      background-size: cover;
      display: flex;
      flex-wrap: wrap;
    }
  
    /* Move the h3 element a little to the left */
    .main h3 {
      margin-left: -80px;
      flex-basis: 100%;
    }
  
    /* Move the cards a little to the left */
    .card {
      margin: 0 10px;
        }
  }
  @media only screen and (max-width: 660px) {
    .main .name {
        font-size: 18px;
      }
      .main h2 {
        font-size: 19px;
      }
      .main h3 {
        font-size: 20px;
     
      }
      .main-btn {
        font-size: 1em;
        font-weight: 50px;
      
      }
      .projects .title {
        font-weight: 300px;
        font-size: 2em;
      }
      .project-image img{
        max-width: 100%;
        height: auto;
    }
    
    .project-info {
        padding: 0.2em;
    }
    
    .project-category {
        font-size: 0.8em;
       
    }
    
    .project-title {
        
        font-weight: 300px;
        font-size: 0.8em;
       
    }
    .title {
        
        font-size: 2em;
        font-weight: 350;
       
    }
    .card {
       
        width: 18.5em;
        
        margin: 15px;
       
        margin-left: -2px;
        
    }
    
    .card .icon {
       
        font-size: 4em;
        text-align: center;
    }
   
   
    
    .contact .icon{
        font-size: 2.5em;
    }
    
    .contact .info h3 {
        font: 0.6em; 
    }
    
    .contact .info p {
        font-size: 0.9em;
        
    }
    }
   
    header .logo {
        width: 30px; /* Change the width of the logo */
      }
      
      header nav {
        font-size: 12px;
    
  }
  /* styles for width 600px or less */
  @media only screen and (max-width: 600px) {
    .main .name {
        font-size: 15px;
      }
      .main h2 {
        font-size: 16px;
      }
      .main h3 {
        font-size: 17px;
     
      }
      .main-btn {
        font-size: 0.8em;
        font-weight: 30px;
      
      }
      .projects .title {
        font-weight: 200px;
        font-size: 1.7em;
      }
      .project-card{
        width: 50em;
        height: 14em;
      }
      .content{
        flex-direction: column;
        align-items: center;
      }
        
      .project-image img{
        max-width: 100%;
        height: auto;

    }
    
    .project-info {
        padding: 0.1em;
    }
    
    .project-category {
        font-size: 0.7em;
       
    }
    
    .project-title {
        
        font-weight: 250px;
        font-size: 0.6em;
       
    }
    .title {
        
        font-size: 1.8em;
        font-weight: 320;
       
    }
    .card {
       
        width: 15.5em;
      
       
        margin-left: -2px;
        
    }
    
    .card .icon {
       
        font-size: 4em;
        text-align: center;
    }
   
   
    
    .contact .icon{
        font-size: 2.5em;
    }
    
    .contact .info h3 {
        font: 0.6em; 
    }
    
    .contact .info p {
        font-size: 0.9em;
        
    }
    }
    /* styles for width 660px or less */
    /* for example you can use this to adjust the font-size of the elements*/
    header .logo {
        width: 30px; /* Change the width of the logo */
      }
      
      header nav {
        font-size: 12px;
    
  }
  @media only screen and (max-width: 580px) {
    .project-card {
        width: 100%; /* sets the width to 80% of the parent container */
       height: 50%;
    }
    }
    @media only screen and (max-width: 560px) {
        .project-card {
          width: 24em; /* sets the width to 80% of the parent container */
          min-width:96%;
        }
   
   }
   @media only screen and (max-width: 480px) {
    .project-card {
      width: 80%;
      min-width: 150px;
      height: auto;
      min-height: 150px;
    }
  }